.meal-title {
    font-weight: bold;
}

.meal-item-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-item {
    padding-bottom: 10px;
}

.card-media-image {
    width: auto;
}

.meal-grid-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.meal-item-content {
    display: flex;
    flex-direction: column;
}

.meal-item-desc {
    -webkit-line-clamp: 2;
    word-break: break-all;
}